<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false"
         stopOnFailure="false" printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="feature">
            <directory suffix="Test.php">./tests/Feature</directory>
            <exclude>./tests/Feature/Api</exclude>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>fake</group>
        </exclude>
    </groups>
    <php>
        <env name="APP_ENV" value="testing"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
